<div class = "container">
  <div class="navbar">
    <div class = "navbar-inner">
      <a class = "brand" href="<%= request.protocol + request.host_with_port%>/weather"> Weather
         <%if @errors.length == 0 %>
           for <%= if @city then @city+", " end%><%= if @area then @area+", " end %><%= if @state then @state+", " end %><%= if @country then @country end%>
         <% end %>
         </a>
      <form id="search" method="get" action="/weather"> 
        <input type="text" placeholder="Search for your city or zip" id = "searchbox" name="search">
        <button type="submit" class="btn">Submit</button>
      </form>
    </div> 
  </div>
  <div class = "row-fluid">
    <%if @weather%>

      <% for i in 0..@weather['weather']['list'].length-1 %>
        <% curday = @weather['weather']['list'][i] %>
        <div class= "span2">
          <span class="centerme"> <%= @dates[i] %></span>
          <div class="temp"><%=curday["temp"]["day"].to_i%>&deg;F </div>
          <div class ="desc"><%=curday["weather"][0]["main"]%> </div>
          <div class="wimg"><img src="<%=request.protocol + request.host%>/weather_img/<%=curday["weather"][0]["icon"]%>.svg"> </div>
        </div>
      <%end%>

    <%else%>
      <%if @errors.length > 0 %>
        <%@errors.each do |err|%>
          <div class="span2">
            <p class="text-error"><%= err %> </p>
          </div>
        <%end%>
      <%end%>
    <%end%>
  </div>
</div>


