<!DOCTYPE html>
<html>
<head>
  <title>ShortProj</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id = "wrap">
    <div id = "main">
      <%= yield %>
    </div>
  </div>
  <div id="footer" class="col-md-8 col-md-offset-2">
    <div class="footcontent">
      <small>
        Design and layout &copy; 2013 Stephen Panzer (<a href="http://www.panzercode.com/">panzercode</a>)<br>
        Weather information courtesy of <a href="http://api.openweathermap.org/">Open Weather Map</a>, 
        Geocoding by <a href="ipinfodb.com">IpInfoDb</a>, Icons from <a href="http://www.alessioatzeni.com/meteocons/">Alessio Atzeni</a><br>
        <% if @background %>
          Background image &copy; <a href="<%= @background[:attr_url]%>"> <%= @background[:attr]%> </a>
        <% end %>
      </small>
    </div>
  </div>
</body>
</html>
